<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TF2 Site</title>
    <style>
    *  {margin: 0;
        padding: 0; 
        box-sizing: border-box;
    }
    header{background-color: rgb(37, 35, 36);
            padding: 40px 20px;
}
    body{background-color: rgb(57, 52, 46);}
    footer{background-color: black;
           color: white}
    header h1{color: rgb(186, 85, 14);}
    header h3{color: rgb(136, 63, 12); 
              display:block;
              margin-top: 20px;}
    </style>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/tf2.gif') }}" alt="logo gif" height=64 width=64>
            <h1>Just TF2 site</h1>
            <h3>By CosmicCato536</h3>
    </header>
    <footer></footer>
</body>
</html>